<!-- extend index layout -->
{% extends "base.html" %}

{% block content %}
<h2>Delete room:</h2>
<form action="" method="post" name="delete_room">
    {{form.hidden_tag()}}Room name: {{ form.name(size = 30, maxlength = 140, readonly = True) }}
    {% for error in form.errors.delete_room %}
    <span style="color: crimson;">{{error}}</span><br>
    {% endfor %} &nbsp<input type="submit" value="Delete"> <button><a href="{{ url_for('manage_rooms') }}" style='text-decoration: none; color: black; '> Cancel </a></button>
</form>
<br>
{% endblock %}